* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg1: #156ea8;
$bg2: #4cb8fe;

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.scroll--wrapper {
  height: 800px;
  width: 100%;
  background: linear-gradient(to right, $bg1, $bg2);
  display: flex;
  // gap: 2rem;

  .scroll--container {
    position: relative;
    height: 100%;
    // width: 700px;
    flex-basis: 50%;
    width: 100%;
    padding-right: 60px;
    border-radius: 0 738px 738px 0;
    // border-right: 3px solid white;

    &::after {
      position: absolute;
      content: "";
      background-image: url("/bullet.png");
      background-size: contain;
      top: 0;
      right: -20%;
      width: 100%;
      height: 100%;
      z-index: 44;
    }

    .scroll__img {
      height: 800px;
      width: 100%;
      border-radius: 0 738px 738px 0;
      object-fit: cover;
    }

    .dots--container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      height: 100%;
      padding: 4rem 0;
      right: 0px;
      top: 0;
      .dot {
        width: 10px;
        height: 10px;
        background: white;
        opacity: 0.5;
        border-radius: 50%;
        &:nth-child(1) {
          position: absolute;
          top: 50px;
          right: 100px;
          background: blue;
        }
        &.active-dot {
          opacity: 1;
        }
      }
    }
  }

  // Swiper Styling
  .slider {
    height: inherit;
    flex: 1;
    width: 100%;
    .swiper--container {
      display: flex;
      height: 100%;
      width: 100%;
      .swiper {
        overflow: hidden;
        width: 100%;
        padding-top: 50px;
        flex: 1;
      }
      .swiper-slide {
        opacity: 0.5;
        scale: 0.9;
        transition: 0.3s linear;
        // .swiper--comp

        &.active {
          opacity: 1;
          scale: 1;
          transform: translate(100px, -20px);
        }
        &.prev--slide--2 {
          transform: translate(-60px, 0);
        }
        &.prev--slide--1 {
          // transform: translateX(30px);
          transform: translate(0, -10px);
        }

        &.next--slide--1 {
          transform: translate(-10px, 5px);
        }
        &.next--slide--2 {
          transform: translate(-45px, -40px);
        }
      }
      .swiper--comp {
        display: flex;
        color: white;
        align-items: center;
        // justify-content: center;
        gap: 1.5rem;

        .dot {
          $dimensions: 10px;
          width: $dimensions;
          height: $dimensions;
          border-radius: 50%;
          background: white;
        }
        .number {
          font-size: 2.2rem;
        }
        .text {
          font-size: 40px;
        }
      }
    }
  }
}
