* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg1: #156ea8;
$bg2: #4cb8fe;
$clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.scroll--wrapper {
  height: 800px;
  width: 100%;
  background: linear-gradient(to right, $bg1, $bg2);
  display: flex;
  position: relative;

  .bullet--svg {
    position: absolute;
    top: 0;
    left: 320px;
    transform: -translateX(-50%);
    z-index: 44;
    height: 100%;
    width: fit;
    svg {
      height: 800px;
    }
  }

  .scroll--container {
    height: 100%;
    flex-basis: 30%;
    width: 100%;
    border-radius: 0 738px 738px 0;
    // border-right: 2px solid blue;

    @media (min-width: 1050px) {
      flex-basis: 50%;
      padding-right: 100px;
    }
    .scroll__img {
      height: 800px;
      width: 100%;
      border-radius: 0 738px 738px 0;
      object-fit: cover;

      &.animate {
        animation: anim 400ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
      }
    }
  }

  // Swiper Styling
  .slider {
    height: inherit;
    flex: 1;
    width: 100%;
    .swiper--container {
      display: flex;
      height: 100%;
      width: 100%;
      .swiper {
        overflow: hidden;
        width: 100%;
        padding-top: 50px;
        // border-left: 2px solid red;
        flex: 1;
      }
      .swiper-slide {
        opacity: 0.5;
        scale: 0.9;
        transition: 0.3s linear;
        clip-path: $clip-path;

        &.active {
          opacity: 1;
          scale: 1;
          transform: translate(50px, -20px);
        }
        &.prev--slide--2 {
          transform: translate(-50px, 0);
        }
        &.prev--slide--1 {
          // transform: translateX(30px);
          transform: translate(-20px, 0px);
        }

        &.next--slide--1 {
          transform: translate(-10px, 0px);
        }
        &.next--slide--2 {
          transform: translate(-45px, -50px);
        }
      }
      .swiper--comp {
        display: flex;
        color: white;
        align-items: center;
        // justify-content: center;
        gap: 1.5rem;

        .dot {
          $dimensions: 10px;
          width: $dimensions;
          height: $dimensions;
          border-radius: 50%;
          background: white;
        }
        .number {
          font-size: 2.2rem;
        }
        .text {
          font-size: 40px;
        }
      }
    }
  }
}

@keyframes anim {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
